<script type="text/javascript">
    var orderInfoPageParam = getQueryStringFromGlobalParams();
    var order_info_form_attachment_table = [];
    var order_info_panel_goods_info_table = [];
    var orderData = {};
    if (orderInfoPageParam.orderId) {
        console.info("查看订单");
        var orderInfoResp = syncAjaxJson({"url": LOCAL_URL + "/order/order/info"}, {"id": orderInfoPageParam.orderId});
        if (orderInfoResp.code == 0) {
            var orderInfo = orderInfoResp.data;
            // 附件数据
            order_info_form_attachment_table = orderInfo.attachments;
            delete orderInfo.attachments;
            // 商品数据
            order_info_panel_goods_info_table = orderInfo.orderGoods;
            delete orderInfo.orderGoods;

            orderData = orderInfo;
        }
    }
</script>
<div id="order_info">
    <div id="add_order_panel_baseinfo" class="easyui-panel" title="基本信息"
         style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label><span style="color:red;">*</span>订单类别：</label>
            <div class="input-div">{{orderCategoryName}}</div>
            <label>海外销类型：</label>
            <div class="input-div">{{overseasSalesName}}</div>
            <label>框架协议号：</label>
            <div class="input-div">{{frameworkNo}}</div>
        </div>
        <div class="fitem">
            <label><span style="color:red;">*</span>PO号：</label>
            <div class="input-div">{{poNo}}</div>
            <label>询单号：</label>
            <div class="input-div">{{inquiryNo}}</div>
            <label>海外销售合同号：</label>
            <div class="input-div">{{contractNoOs}}</div>
        </div>
        <div class="fitem">
            <label>授信情况：</label>
            <div class="input-div">{{grantTypeName}}</div>
            <label><span style="color:red;">*</span>合同交货日期：</label>
            <div class="input-div">{{deliveryDate}}</div>
            <label><span style="color:red;">*</span>市场经办人：</label>
            <div class="input-div">{{agentUserName}}</div>
        </div>
        <div class="fitem">
            <label><span style="color:red;">*</span>获取人：</label>
            <div class="input-div">{{acquireUserName}}</div>
            <label><span style="color:red;">*</span>客户签约主体公司：</label>
            <div class="input-div">{{signingCoName}}</div>
            </select>
            <label><span style="color:red;">*</span>执行事业部：</label>
            <div class="input-div">{{businessUnitName}}</div>
        </div>
        <div class="fitem">
            <label>执行分公司：</label>
            <div class="input-div">{{execCoName}}</div>
            <label>国家：</label>
            <div class="input-div">{{regionName}} / {{countryName}}</div>
            <label>CRM客户代码：</label>
            <div class="input-div">{{crmCode}}</div>
        </div>

        <div class="fitem">
            <label>客户类型：</label>
            <div class="input-div">{{customerTypeName}}</div>
            <label><span style="color:red;">*</span>回款负责人：</label>
            <div class="input-div">{{perLiableRepayUserName}}</div>
            <label><span style="color:red;">*</span>事业部项目负责人：</label>
            <div class="input-div">{{technicalUserName}}</div>
        </div>
        <div class="fitem">
            <label>是否融资项目：</label>
            <div class="input-div">{{financingName}}</div>
            <label>运输方式：</label>
            <div class="input-div">{{transportTypeName}}</div>
            <label><span style="color:red;">*</span>贸易术语：</label>
            <div class="input-div">{{tradeTerms}}</div>
        </div>
        <div class="fitem">
            <label>起运港：</label>
            <div class="input-div">{{fromPortName}}</div>
            <label>起运国：</label>
            <div class="input-div">{{fromCountryName}}</div>
            <label>发运起始地：</label>
            <div class="input-div">{{fromPlace}}</div>
        </div>
        <div class="fitem">
            <label><span style="color:red;">*</span>目的港：</label>
            <div class="input-div">{{toPortName}}</div>
            <label>目的国：</label>
            <div class="input-div">{{toCountryName}}</div>
            <label>目的地：</label>
            <div class="input-div">{{toPlace}}</div>
        </div>
    </div>

    <div id="order_info_panel_goods_info" class="easyui-panel" title="商品信息"
         style="padding:2px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <table id="order_info_panel_goods_info_table" style="background:#fafafa;">
            <thead>
            <tr>
                <th field="sku" width="80">平台SKU</th>
                <th field="meteTypeName" width="120"><span style="color:red;">*</span>物料分类</th>
                <th field="tplName" width="80"><span style="color:red;">*</span>模板名称</th>
                <th field="departmentName" width="120"><span style="color:red;">*</span>商品所属事业部</th>
                <th field="nameEn" width="80">外文品名</th>
                <th field="nameZh" width="80"><span style="color:red;">*</span>中文品名</th>
                <th field="contractGoodsNum" width="80"><span style="color:red;">*</span>合同数量</th>
                <th field="unitName" width="80">单位</th>
                <th field="price" width="80">客户销售单价</th>
                <th field="eruiPrice" width="80">易瑞销售单价</th>
                <th field="purchContractBrand" width="80">品牌</th>
                <th field="totalPrice" width="80">金额</th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="add_order_panel_contract_info" class="easyui-panel" title="合同信息"
         style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label>客户合同金额：</label>
            <div class="input-div">{{totalPrice}} ({{currencyBn}})</div>
            <label>易瑞合同金额：</label>
            <div class="input-div">{{eruiTotalPrice}} ({{currencyBn}})</div>
            <label><span style="color:red;">*</span>是否含税：</label>
            <div class="input-div">{{taxBearingName}}</div>
        </div>
        <div class="fitem">
            <label><span style="color:red;">*</span>汇率：</label>
            <div class="input-div">{{exchangeRate}} (兑美金汇率)</div>

            <label>客户合同USD金额：</label>
            <div class="input-div">{{totalPriceUsd}}</div>
            <label>质保金：</label>
            <div class="input-div">{{qualityFunds}} ({{currencyBn}})</div>
        </div>
        <div class="fitem">
            <label><span style="color:red;">*</span>收款方式：</label>
            <div class="input-div">{{paymentModeBnName}}</div>
            <label>预收货款：</label>
            <div class="input-div">{{orderPayments[0].money}} {{currencyBn}}</div>
            <label>收款日期：</label>
            <div class="input-div">{{orderPayments[0].receiptDate}}</div>
        </div>
        <div class="fitem" v-for="(payment, index) in orderPayments">
            <label  v-if="index > 0"><span style="color:red;">*</span>收款：</label>
            <div v-if="index > 0" class="input-div" style="width:80px;">{{payment.paymentTypeName}}</div>
            <div v-if="index > 0" class="input-div" style="width:40px;">{{payment.receiptDays}}</div>
            <label v-if="index > 0">天：</label>
            <div v-if="index > 0" class="input-div">{{payment.money}} （{{currencyBn}}）</div>
        </div>
    </div>


    <div id="add_order_panel_other_info" class="easyui-panel" title="其他信息"
         style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label style="width:120px;">交货要求描述：</label>
            <div class="input-div" style="width:560px;height:60px;border:1px solid black;padding:5px;">{{deliveryRequires}}</div>
        </div>
        <div class="fitem">
            <label style="width:120px;">客户及项目背景描述：</label>
            <div class="input-div" style="width:560px;height:60px;border:1px solid black;padding:5px;">{{customerContext}}</div>
        </div>
    </div>

    <div class="easyui-panel"
         title="附件"
         style="background:#fafafa;margin-bottom:30px;"
         data-options="collapsible:true">
        <div class="easyui-layout" style="width: 100%;height:150px;">
            <div data-options="region:'center',border:false" style="padding:5px;background:#eee;">
                <table id="order_info_form_attachment_table">
                    <thead>
                    <tr>
                        <th field="title" width="200">附件名称</th>
                        <th field="createUserName" width="120">创建人</th>
                        <th field="attachType" width="100" data-options="
                            formatter:function(value){
                                switch(value){
                                    case 1: return '合同';
                                    case 2: return '其它';
                                }
                                return value;
                            }
                            ">类型
                        </th>
                        <th field="createTime" width="170">日期</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.info("orderData -> " + orderData);
    if (orderData.areaName) {
        orderData.areaName = "";
    }
    new Vue({
        el: '#order_info',
        data: orderData
    });

    $(function () {
        // 初始化附件和商品表格
        $("#order_info_panel_goods_info_table").datagrid({
            idField: 'id',
            border: false,
            collapsible: true,
            fitColumn: true,
            data: order_info_panel_goods_info_table
        });
        $("#order_info_form_attachment_table").datagrid({
            idField: 'url',
            singleSelect: true,
            fit: true,
            fitColumn: true,
            data: order_info_form_attachment_table
        });
    });
</script>