<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.DeliverDetailGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.DeliverDetailGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="deliver_detail_id" property="deliverDetailId" jdbcType="BIGINT" />
    <result column="deliver_consign_goods_id" property="deliverConsignGoodsId" jdbcType="BIGINT" />
    <result column="outbound_num" property="outboundNum" jdbcType="SMALLINT" />
    <result column="straight_num" property="straightNum" jdbcType="SMALLINT" />
    <result column="detail_goods_remarks" property="detailGoodsRemarks" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, deliver_detail_id, deliver_consign_goods_id, outbound_num, straight_num, detail_goods_remarks, 
    create_user_id, create_time, update_user_id, update_time, delete_flag, delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.DeliverDetailGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deliver_detail_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from deliver_detail_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from deliver_detail_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.DeliverDetailGoodsExample" >
    delete from deliver_detail_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.erui.order.model.entity.DeliverDetailGoods" >
    insert into deliver_detail_goods (id, deliver_detail_id, deliver_consign_goods_id, 
      outbound_num, straight_num, detail_goods_remarks, 
      create_user_id, create_time, update_user_id, 
      update_time, delete_flag, delete_time
      )
    values (#{id,jdbcType=BIGINT}, #{deliverDetailId,jdbcType=BIGINT}, #{deliverConsignGoodsId,jdbcType=BIGINT}, 
      #{outboundNum,jdbcType=SMALLINT}, #{straightNum,jdbcType=SMALLINT}, #{detailGoodsRemarks,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.DeliverDetailGoods" >
    insert into deliver_detail_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deliverDetailId != null" >
        deliver_detail_id,
      </if>
      <if test="deliverConsignGoodsId != null" >
        deliver_consign_goods_id,
      </if>
      <if test="outboundNum != null" >
        outbound_num,
      </if>
      <if test="straightNum != null" >
        straight_num,
      </if>
      <if test="detailGoodsRemarks != null" >
        detail_goods_remarks,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deliverDetailId != null" >
        #{deliverDetailId,jdbcType=BIGINT},
      </if>
      <if test="deliverConsignGoodsId != null" >
        #{deliverConsignGoodsId,jdbcType=BIGINT},
      </if>
      <if test="outboundNum != null" >
        #{outboundNum,jdbcType=SMALLINT},
      </if>
      <if test="straightNum != null" >
        #{straightNum,jdbcType=SMALLINT},
      </if>
      <if test="detailGoodsRemarks != null" >
        #{detailGoodsRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.DeliverDetailGoodsExample" resultType="java.lang.Integer" >
    select count(*) from deliver_detail_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update deliver_detail_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.deliverDetailId != null" >
        deliver_detail_id = #{record.deliverDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.deliverConsignGoodsId != null" >
        deliver_consign_goods_id = #{record.deliverConsignGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.outboundNum != null" >
        outbound_num = #{record.outboundNum,jdbcType=SMALLINT},
      </if>
      <if test="record.straightNum != null" >
        straight_num = #{record.straightNum,jdbcType=SMALLINT},
      </if>
      <if test="record.detailGoodsRemarks != null" >
        detail_goods_remarks = #{record.detailGoodsRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update deliver_detail_goods
    set id = #{record.id,jdbcType=BIGINT},
      deliver_detail_id = #{record.deliverDetailId,jdbcType=BIGINT},
      deliver_consign_goods_id = #{record.deliverConsignGoodsId,jdbcType=BIGINT},
      outbound_num = #{record.outboundNum,jdbcType=SMALLINT},
      straight_num = #{record.straightNum,jdbcType=SMALLINT},
      detail_goods_remarks = #{record.detailGoodsRemarks,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.DeliverDetailGoods" >
    update deliver_detail_goods
    <set >
      <if test="deliverDetailId != null" >
        deliver_detail_id = #{deliverDetailId,jdbcType=BIGINT},
      </if>
      <if test="deliverConsignGoodsId != null" >
        deliver_consign_goods_id = #{deliverConsignGoodsId,jdbcType=BIGINT},
      </if>
      <if test="outboundNum != null" >
        outbound_num = #{outboundNum,jdbcType=SMALLINT},
      </if>
      <if test="straightNum != null" >
        straight_num = #{straightNum,jdbcType=SMALLINT},
      </if>
      <if test="detailGoodsRemarks != null" >
        detail_goods_remarks = #{detailGoodsRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.DeliverDetailGoods" >
    update deliver_detail_goods
    set deliver_detail_id = #{deliverDetailId,jdbcType=BIGINT},
      deliver_consign_goods_id = #{deliverConsignGoodsId,jdbcType=BIGINT},
      outbound_num = #{outboundNum,jdbcType=SMALLINT},
      straight_num = #{straightNum,jdbcType=SMALLINT},
      detail_goods_remarks = #{detailGoodsRemarks,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>