<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.InspectApplyMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.InspectApply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="inspect_apply_no" property="inspectApplyNo" jdbcType="CHAR" />
    <result column="purch_no" property="purchNo" jdbcType="CHAR" />
    <result column="purch_id" property="purchId" jdbcType="BIGINT" />
    <result column="masteer" property="masteer" jdbcType="BIT" />
    <result column="p_id" property="pId" jdbcType="BIGINT" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="purchase_name_id" property="purchaseNameId" jdbcType="BIGINT" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="inspect_date" property="inspectDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="history" property="history" jdbcType="BIT" />
    <result column="num" property="num" jdbcType="SMALLINT" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="inspect_apply_status" property="inspectApplyStatus" jdbcType="SMALLINT" />
    <result column="tmp_msg" property="tmpMsg" jdbcType="VARCHAR" />
    <result column="pub_status" property="pubStatus" jdbcType="SMALLINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inspect_apply_no, purch_no, purch_id, masteer, p_id, department, purchase_name_id, 
    supplier_name, inspect_date, remark, history, num, msg, inspect_apply_status, tmp_msg, 
    pub_status, create_user_id, create_time, update_user_id, update_time, delete_flag, 
    delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.InspectApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inspect_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inspect_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from inspect_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.InspectApplyExample" >
    delete from inspect_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.order.model.entity.InspectApply" >
    insert into inspect_apply (id, inspect_apply_no, purch_no, 
      purch_id, masteer, p_id, department, 
      purchase_name_id, supplier_name, inspect_date, 
      remark, history, num, 
      msg, inspect_apply_status, tmp_msg, 
      pub_status, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      delete_time)
    values (#{id,jdbcType=BIGINT}, #{inspectApplyNo,jdbcType=CHAR}, #{purchNo,jdbcType=CHAR}, 
      #{purchId,jdbcType=BIGINT}, #{masteer,jdbcType=BIT}, #{pId,jdbcType=BIGINT}, #{department,jdbcType=VARCHAR}, 
      #{purchaseNameId,jdbcType=BIGINT}, #{supplierName,jdbcType=VARCHAR}, #{inspectDate,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{history,jdbcType=BIT}, #{num,jdbcType=SMALLINT}, 
      #{msg,jdbcType=VARCHAR}, #{inspectApplyStatus,jdbcType=SMALLINT}, #{tmpMsg,jdbcType=VARCHAR}, 
      #{pubStatus,jdbcType=SMALLINT}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.InspectApply" >
    insert into inspect_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inspectApplyNo != null" >
        inspect_apply_no,
      </if>
      <if test="purchNo != null" >
        purch_no,
      </if>
      <if test="purchId != null" >
        purch_id,
      </if>
      <if test="masteer != null" >
        masteer,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="purchaseNameId != null" >
        purchase_name_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="inspectDate != null" >
        inspect_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="history != null" >
        history,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="inspectApplyStatus != null" >
        inspect_apply_status,
      </if>
      <if test="tmpMsg != null" >
        tmp_msg,
      </if>
      <if test="pubStatus != null" >
        pub_status,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="inspectApplyNo != null" >
        #{inspectApplyNo,jdbcType=CHAR},
      </if>
      <if test="purchNo != null" >
        #{purchNo,jdbcType=CHAR},
      </if>
      <if test="purchId != null" >
        #{purchId,jdbcType=BIGINT},
      </if>
      <if test="masteer != null" >
        #{masteer,jdbcType=BIT},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=BIGINT},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNameId != null" >
        #{purchaseNameId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="inspectDate != null" >
        #{inspectDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="history != null" >
        #{history,jdbcType=BIT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=SMALLINT},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="inspectApplyStatus != null" >
        #{inspectApplyStatus,jdbcType=SMALLINT},
      </if>
      <if test="tmpMsg != null" >
        #{tmpMsg,jdbcType=VARCHAR},
      </if>
      <if test="pubStatus != null" >
        #{pubStatus,jdbcType=SMALLINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.InspectApplyExample" resultType="java.lang.Integer" >
    select count(*) from inspect_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update inspect_apply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.inspectApplyNo != null" >
        inspect_apply_no = #{record.inspectApplyNo,jdbcType=CHAR},
      </if>
      <if test="record.purchNo != null" >
        purch_no = #{record.purchNo,jdbcType=CHAR},
      </if>
      <if test="record.purchId != null" >
        purch_id = #{record.purchId,jdbcType=BIGINT},
      </if>
      <if test="record.masteer != null" >
        masteer = #{record.masteer,jdbcType=BIT},
      </if>
      <if test="record.pId != null" >
        p_id = #{record.pId,jdbcType=BIGINT},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseNameId != null" >
        purchase_name_id = #{record.purchaseNameId,jdbcType=BIGINT},
      </if>
      <if test="record.supplierName != null" >
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectDate != null" >
        inspect_date = #{record.inspectDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.history != null" >
        history = #{record.history,jdbcType=BIT},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=SMALLINT},
      </if>
      <if test="record.msg != null" >
        msg = #{record.msg,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectApplyStatus != null" >
        inspect_apply_status = #{record.inspectApplyStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.tmpMsg != null" >
        tmp_msg = #{record.tmpMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.pubStatus != null" >
        pub_status = #{record.pubStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update inspect_apply
    set id = #{record.id,jdbcType=BIGINT},
      inspect_apply_no = #{record.inspectApplyNo,jdbcType=CHAR},
      purch_no = #{record.purchNo,jdbcType=CHAR},
      purch_id = #{record.purchId,jdbcType=BIGINT},
      masteer = #{record.masteer,jdbcType=BIT},
      p_id = #{record.pId,jdbcType=BIGINT},
      department = #{record.department,jdbcType=VARCHAR},
      purchase_name_id = #{record.purchaseNameId,jdbcType=BIGINT},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      inspect_date = #{record.inspectDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      history = #{record.history,jdbcType=BIT},
      num = #{record.num,jdbcType=SMALLINT},
      msg = #{record.msg,jdbcType=VARCHAR},
      inspect_apply_status = #{record.inspectApplyStatus,jdbcType=SMALLINT},
      tmp_msg = #{record.tmpMsg,jdbcType=VARCHAR},
      pub_status = #{record.pubStatus,jdbcType=SMALLINT},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.InspectApply" >
    update inspect_apply
    <set >
      <if test="inspectApplyNo != null" >
        inspect_apply_no = #{inspectApplyNo,jdbcType=CHAR},
      </if>
      <if test="purchNo != null" >
        purch_no = #{purchNo,jdbcType=CHAR},
      </if>
      <if test="purchId != null" >
        purch_id = #{purchId,jdbcType=BIGINT},
      </if>
      <if test="masteer != null" >
        masteer = #{masteer,jdbcType=BIT},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=BIGINT},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNameId != null" >
        purchase_name_id = #{purchaseNameId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="inspectDate != null" >
        inspect_date = #{inspectDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="history != null" >
        history = #{history,jdbcType=BIT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=SMALLINT},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="inspectApplyStatus != null" >
        inspect_apply_status = #{inspectApplyStatus,jdbcType=SMALLINT},
      </if>
      <if test="tmpMsg != null" >
        tmp_msg = #{tmpMsg,jdbcType=VARCHAR},
      </if>
      <if test="pubStatus != null" >
        pub_status = #{pubStatus,jdbcType=SMALLINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.InspectApply" >
    update inspect_apply
    set inspect_apply_no = #{inspectApplyNo,jdbcType=CHAR},
      purch_no = #{purchNo,jdbcType=CHAR},
      purch_id = #{purchId,jdbcType=BIGINT},
      masteer = #{masteer,jdbcType=BIT},
      p_id = #{pId,jdbcType=BIGINT},
      department = #{department,jdbcType=VARCHAR},
      purchase_name_id = #{purchaseNameId,jdbcType=BIGINT},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      inspect_date = #{inspectDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      history = #{history,jdbcType=BIT},
      num = #{num,jdbcType=SMALLINT},
      msg = #{msg,jdbcType=VARCHAR},
      inspect_apply_status = #{inspectApplyStatus,jdbcType=SMALLINT},
      tmp_msg = #{tmpMsg,jdbcType=VARCHAR},
      pub_status = #{pubStatus,jdbcType=SMALLINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>