<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.InstockMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.Instock" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="inspect_report_id" property="inspectReportId" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="instock_date" property="instockDate" jdbcType="DATE" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="instock_status" property="instockStatus" jdbcType="SMALLINT" />
    <result column="inspect_apply_no" property="inspectApplyNo" jdbcType="CHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="out_check" property="outCheck" jdbcType="BIT" />
    <result column="submenu_id" property="submenuId" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inspect_report_id, uid, instock_date, remarks, instock_status, inspect_apply_no, 
    supplier_name, out_check, submenu_id, create_user_id, create_time, update_user_id, 
    update_time, delete_flag, delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.InstockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from instock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from instock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from instock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.InstockExample" >
    delete from instock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.order.model.entity.Instock" >
    insert into instock (id, inspect_report_id, uid, 
      instock_date, remarks, instock_status, 
      inspect_apply_no, supplier_name, out_check, 
      submenu_id, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      delete_time)
    values (#{id,jdbcType=BIGINT}, #{inspectReportId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, 
      #{instockDate,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{instockStatus,jdbcType=SMALLINT}, 
      #{inspectApplyNo,jdbcType=CHAR}, #{supplierName,jdbcType=VARCHAR}, #{outCheck,jdbcType=BIT}, 
      #{submenuId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.Instock" >
    insert into instock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inspectReportId != null" >
        inspect_report_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="instockDate != null" >
        instock_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="instockStatus != null" >
        instock_status,
      </if>
      <if test="inspectApplyNo != null" >
        inspect_apply_no,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="outCheck != null" >
        out_check,
      </if>
      <if test="submenuId != null" >
        submenu_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="inspectReportId != null" >
        #{inspectReportId,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="instockDate != null" >
        #{instockDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="instockStatus != null" >
        #{instockStatus,jdbcType=SMALLINT},
      </if>
      <if test="inspectApplyNo != null" >
        #{inspectApplyNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="outCheck != null" >
        #{outCheck,jdbcType=BIT},
      </if>
      <if test="submenuId != null" >
        #{submenuId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.InstockExample" resultType="java.lang.Integer" >
    select count(*) from instock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update instock
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.inspectReportId != null" >
        inspect_report_id = #{record.inspectReportId,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.instockDate != null" >
        instock_date = #{record.instockDate,jdbcType=DATE},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.instockStatus != null" >
        instock_status = #{record.instockStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.inspectApplyNo != null" >
        inspect_apply_no = #{record.inspectApplyNo,jdbcType=CHAR},
      </if>
      <if test="record.supplierName != null" >
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.outCheck != null" >
        out_check = #{record.outCheck,jdbcType=BIT},
      </if>
      <if test="record.submenuId != null" >
        submenu_id = #{record.submenuId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update instock
    set id = #{record.id,jdbcType=BIGINT},
      inspect_report_id = #{record.inspectReportId,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      instock_date = #{record.instockDate,jdbcType=DATE},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      instock_status = #{record.instockStatus,jdbcType=SMALLINT},
      inspect_apply_no = #{record.inspectApplyNo,jdbcType=CHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      out_check = #{record.outCheck,jdbcType=BIT},
      submenu_id = #{record.submenuId,jdbcType=BIGINT},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.Instock" >
    update instock
    <set >
      <if test="inspectReportId != null" >
        inspect_report_id = #{inspectReportId,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="instockDate != null" >
        instock_date = #{instockDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="instockStatus != null" >
        instock_status = #{instockStatus,jdbcType=SMALLINT},
      </if>
      <if test="inspectApplyNo != null" >
        inspect_apply_no = #{inspectApplyNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="outCheck != null" >
        out_check = #{outCheck,jdbcType=BIT},
      </if>
      <if test="submenuId != null" >
        submenu_id = #{submenuId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.Instock" >
    update instock
    set inspect_report_id = #{inspectReportId,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      instock_date = #{instockDate,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      instock_status = #{instockStatus,jdbcType=SMALLINT},
      inspect_apply_no = #{inspectApplyNo,jdbcType=CHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      out_check = #{outCheck,jdbcType=BIT},
      submenu_id = #{submenuId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>