<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.OrderGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.OrderGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="mete_type" property="meteType" jdbcType="VARCHAR" />
    <result column="mete_type_name" property="meteTypeName" jdbcType="VARCHAR" />
    <result column="tpl_no" property="tplNo" jdbcType="VARCHAR" />
    <result column="tpl_name" property="tplName" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
    <result column="contract_goods_num" property="contractGoodsNum" jdbcType="SMALLINT" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="erui_price" property="eruiPrice" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="pre_purch_contract_num" property="prePurchContractNum" jdbcType="SMALLINT" />
    <result column="purch_contract_num" property="purchContractNum" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.erui.order.model.entity.OrderGoods" extends="BaseResultMap" >
    <result column="attrs" property="attrs" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, sku, mete_type, mete_type_name, tpl_no, tpl_name, department_id, name_en, 
    name_zh, contract_goods_num, unit, price, erui_price, total_price, brand, create_user_id, 
    create_time, update_user_id, update_time, delete_flag, delete_time, pre_purch_contract_num, 
    purch_contract_num
  </sql>
  <sql id="Blob_Column_List" >
    attrs
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.erui.order.model.entity.OrderGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.OrderGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from order_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.OrderGoodsExample" >
    delete from order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.order.model.entity.OrderGoods" >
    insert into order_goods (id, order_id, sku, 
      mete_type, mete_type_name, tpl_no, 
      tpl_name, department_id, name_en, 
      name_zh, contract_goods_num, unit, 
      price, erui_price, total_price, 
      brand, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      delete_time, pre_purch_contract_num, purch_contract_num, 
      attrs)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{sku,jdbcType=VARCHAR}, 
      #{meteType,jdbcType=VARCHAR}, #{meteTypeName,jdbcType=VARCHAR}, #{tplNo,jdbcType=VARCHAR}, 
      #{tplName,jdbcType=VARCHAR}, #{departmentId,jdbcType=BIGINT}, #{nameEn,jdbcType=VARCHAR}, 
      #{nameZh,jdbcType=VARCHAR}, #{contractGoodsNum,jdbcType=SMALLINT}, #{unit,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{eruiPrice,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      #{brand,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{prePurchContractNum,jdbcType=SMALLINT}, #{purchContractNum,jdbcType=SMALLINT}, 
      #{attrs,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.OrderGoods" >
    insert into order_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="sku != null" >
        sku,
      </if>
      <if test="meteType != null" >
        mete_type,
      </if>
      <if test="meteTypeName != null" >
        mete_type_name,
      </if>
      <if test="tplNo != null" >
        tpl_no,
      </if>
      <if test="tplName != null" >
        tpl_name,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="nameZh != null" >
        name_zh,
      </if>
      <if test="contractGoodsNum != null" >
        contract_goods_num,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="eruiPrice != null" >
        erui_price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="prePurchContractNum != null" >
        pre_purch_contract_num,
      </if>
      <if test="purchContractNum != null" >
        purch_contract_num,
      </if>
      <if test="attrs != null" >
        attrs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="meteType != null" >
        #{meteType,jdbcType=VARCHAR},
      </if>
      <if test="meteTypeName != null" >
        #{meteTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tplNo != null" >
        #{tplNo,jdbcType=VARCHAR},
      </if>
      <if test="tplName != null" >
        #{tplName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null" >
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="contractGoodsNum != null" >
        #{contractGoodsNum,jdbcType=SMALLINT},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="eruiPrice != null" >
        #{eruiPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prePurchContractNum != null" >
        #{prePurchContractNum,jdbcType=SMALLINT},
      </if>
      <if test="purchContractNum != null" >
        #{purchContractNum,jdbcType=SMALLINT},
      </if>
      <if test="attrs != null" >
        #{attrs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.OrderGoodsExample" resultType="java.lang.Integer" >
    select count(*) from order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.sku != null" >
        sku = #{record.sku,jdbcType=VARCHAR},
      </if>
      <if test="record.meteType != null" >
        mete_type = #{record.meteType,jdbcType=VARCHAR},
      </if>
      <if test="record.meteTypeName != null" >
        mete_type_name = #{record.meteTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.tplNo != null" >
        tpl_no = #{record.tplNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tplName != null" >
        tpl_name = #{record.tplName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null" >
        department_id = #{record.departmentId,jdbcType=BIGINT},
      </if>
      <if test="record.nameEn != null" >
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.nameZh != null" >
        name_zh = #{record.nameZh,jdbcType=VARCHAR},
      </if>
      <if test="record.contractGoodsNum != null" >
        contract_goods_num = #{record.contractGoodsNum,jdbcType=SMALLINT},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.eruiPrice != null" >
        erui_price = #{record.eruiPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalPrice != null" >
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.prePurchContractNum != null" >
        pre_purch_contract_num = #{record.prePurchContractNum,jdbcType=SMALLINT},
      </if>
      <if test="record.purchContractNum != null" >
        purch_contract_num = #{record.purchContractNum,jdbcType=SMALLINT},
      </if>
      <if test="record.attrs != null" >
        attrs = #{record.attrs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update order_goods
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      sku = #{record.sku,jdbcType=VARCHAR},
      mete_type = #{record.meteType,jdbcType=VARCHAR},
      mete_type_name = #{record.meteTypeName,jdbcType=VARCHAR},
      tpl_no = #{record.tplNo,jdbcType=VARCHAR},
      tpl_name = #{record.tplName,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=BIGINT},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      contract_goods_num = #{record.contractGoodsNum,jdbcType=SMALLINT},
      unit = #{record.unit,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      erui_price = #{record.eruiPrice,jdbcType=DECIMAL},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      brand = #{record.brand,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      pre_purch_contract_num = #{record.prePurchContractNum,jdbcType=SMALLINT},
      purch_contract_num = #{record.purchContractNum,jdbcType=SMALLINT},
      attrs = #{record.attrs,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_goods
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      sku = #{record.sku,jdbcType=VARCHAR},
      mete_type = #{record.meteType,jdbcType=VARCHAR},
      mete_type_name = #{record.meteTypeName,jdbcType=VARCHAR},
      tpl_no = #{record.tplNo,jdbcType=VARCHAR},
      tpl_name = #{record.tplName,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=BIGINT},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      contract_goods_num = #{record.contractGoodsNum,jdbcType=SMALLINT},
      unit = #{record.unit,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      erui_price = #{record.eruiPrice,jdbcType=DECIMAL},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      brand = #{record.brand,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      pre_purch_contract_num = #{record.prePurchContractNum,jdbcType=SMALLINT},
      purch_contract_num = #{record.purchContractNum,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.OrderGoods" >
    update order_goods
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="sku != null" >
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="meteType != null" >
        mete_type = #{meteType,jdbcType=VARCHAR},
      </if>
      <if test="meteTypeName != null" >
        mete_type_name = #{meteTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tplNo != null" >
        tpl_no = #{tplNo,jdbcType=VARCHAR},
      </if>
      <if test="tplName != null" >
        tpl_name = #{tplName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null" >
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="contractGoodsNum != null" >
        contract_goods_num = #{contractGoodsNum,jdbcType=SMALLINT},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="eruiPrice != null" >
        erui_price = #{eruiPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prePurchContractNum != null" >
        pre_purch_contract_num = #{prePurchContractNum,jdbcType=SMALLINT},
      </if>
      <if test="purchContractNum != null" >
        purch_contract_num = #{purchContractNum,jdbcType=SMALLINT},
      </if>
      <if test="attrs != null" >
        attrs = #{attrs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.erui.order.model.entity.OrderGoods" >
    update order_goods
    set order_id = #{orderId,jdbcType=BIGINT},
      sku = #{sku,jdbcType=VARCHAR},
      mete_type = #{meteType,jdbcType=VARCHAR},
      mete_type_name = #{meteTypeName,jdbcType=VARCHAR},
      tpl_no = #{tplNo,jdbcType=VARCHAR},
      tpl_name = #{tplName,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=BIGINT},
      name_en = #{nameEn,jdbcType=VARCHAR},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      contract_goods_num = #{contractGoodsNum,jdbcType=SMALLINT},
      unit = #{unit,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      erui_price = #{eruiPrice,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      brand = #{brand,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      pre_purch_contract_num = #{prePurchContractNum,jdbcType=SMALLINT},
      purch_contract_num = #{purchContractNum,jdbcType=SMALLINT},
      attrs = #{attrs,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.OrderGoods" >
    update order_goods
    set order_id = #{orderId,jdbcType=BIGINT},
      sku = #{sku,jdbcType=VARCHAR},
      mete_type = #{meteType,jdbcType=VARCHAR},
      mete_type_name = #{meteTypeName,jdbcType=VARCHAR},
      tpl_no = #{tplNo,jdbcType=VARCHAR},
      tpl_name = #{tplName,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=BIGINT},
      name_en = #{nameEn,jdbcType=VARCHAR},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      contract_goods_num = #{contractGoodsNum,jdbcType=SMALLINT},
      unit = #{unit,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      erui_price = #{eruiPrice,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      brand = #{brand,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      pre_purch_contract_num = #{prePurchContractNum,jdbcType=SMALLINT},
      purch_contract_num = #{purchContractNum,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>