<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.PurchContractSignatoriesMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.PurchContractSignatories" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="purch_contract_id" property="purchContractId" jdbcType="BIGINT" />
    <result column="signatories_type" property="signatoriesType" jdbcType="SMALLINT" />
    <result column="seller_buyer" property="sellerBuyer" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="CHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="agent" property="agent" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="opening_bank" property="openingBank" jdbcType="VARCHAR" />
    <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
    <result column="telephone_fax" property="telephoneFax" jdbcType="VARCHAR" />
    <result column="duty_paragraph" property="dutyParagraph" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purch_contract_id, signatories_type, seller_buyer, postal_code, legal_representative, 
    agent, address, opening_bank, account_number, credit_code, telephone_fax, duty_paragraph, 
    create_user_id, create_time, update_user_id, update_time, delete_flag, delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.PurchContractSignatoriesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purch_contract_signatories
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from purch_contract_signatories
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from purch_contract_signatories
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.PurchContractSignatoriesExample" >
    delete from purch_contract_signatories
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.order.model.entity.PurchContractSignatories" >
    insert into purch_contract_signatories (id, purch_contract_id, signatories_type, 
      seller_buyer, postal_code, legal_representative, 
      agent, address, opening_bank, 
      account_number, credit_code, telephone_fax, 
      duty_paragraph, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      delete_time)
    values (#{id,jdbcType=BIGINT}, #{purchContractId,jdbcType=BIGINT}, #{signatoriesType,jdbcType=SMALLINT}, 
      #{sellerBuyer,jdbcType=VARCHAR}, #{postalCode,jdbcType=CHAR}, #{legalRepresentative,jdbcType=VARCHAR}, 
      #{agent,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{openingBank,jdbcType=VARCHAR}, 
      #{accountNumber,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR}, #{telephoneFax,jdbcType=VARCHAR}, 
      #{dutyParagraph,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.PurchContractSignatories" >
    insert into purch_contract_signatories
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchContractId != null" >
        purch_contract_id,
      </if>
      <if test="signatoriesType != null" >
        signatories_type,
      </if>
      <if test="sellerBuyer != null" >
        seller_buyer,
      </if>
      <if test="postalCode != null" >
        postal_code,
      </if>
      <if test="legalRepresentative != null" >
        legal_representative,
      </if>
      <if test="agent != null" >
        agent,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="openingBank != null" >
        opening_bank,
      </if>
      <if test="accountNumber != null" >
        account_number,
      </if>
      <if test="creditCode != null" >
        credit_code,
      </if>
      <if test="telephoneFax != null" >
        telephone_fax,
      </if>
      <if test="dutyParagraph != null" >
        duty_paragraph,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchContractId != null" >
        #{purchContractId,jdbcType=BIGINT},
      </if>
      <if test="signatoriesType != null" >
        #{signatoriesType,jdbcType=SMALLINT},
      </if>
      <if test="sellerBuyer != null" >
        #{sellerBuyer,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        #{postalCode,jdbcType=CHAR},
      </if>
      <if test="legalRepresentative != null" >
        #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="agent != null" >
        #{agent,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="openingBank != null" >
        #{openingBank,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="telephoneFax != null" >
        #{telephoneFax,jdbcType=VARCHAR},
      </if>
      <if test="dutyParagraph != null" >
        #{dutyParagraph,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.PurchContractSignatoriesExample" resultType="java.lang.Integer" >
    select count(*) from purch_contract_signatories
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purch_contract_signatories
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.purchContractId != null" >
        purch_contract_id = #{record.purchContractId,jdbcType=BIGINT},
      </if>
      <if test="record.signatoriesType != null" >
        signatories_type = #{record.signatoriesType,jdbcType=SMALLINT},
      </if>
      <if test="record.sellerBuyer != null" >
        seller_buyer = #{record.sellerBuyer,jdbcType=VARCHAR},
      </if>
      <if test="record.postalCode != null" >
        postal_code = #{record.postalCode,jdbcType=CHAR},
      </if>
      <if test="record.legalRepresentative != null" >
        legal_representative = #{record.legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="record.agent != null" >
        agent = #{record.agent,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.openingBank != null" >
        opening_bank = #{record.openingBank,jdbcType=VARCHAR},
      </if>
      <if test="record.accountNumber != null" >
        account_number = #{record.accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.creditCode != null" >
        credit_code = #{record.creditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.telephoneFax != null" >
        telephone_fax = #{record.telephoneFax,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyParagraph != null" >
        duty_paragraph = #{record.dutyParagraph,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purch_contract_signatories
    set id = #{record.id,jdbcType=BIGINT},
      purch_contract_id = #{record.purchContractId,jdbcType=BIGINT},
      signatories_type = #{record.signatoriesType,jdbcType=SMALLINT},
      seller_buyer = #{record.sellerBuyer,jdbcType=VARCHAR},
      postal_code = #{record.postalCode,jdbcType=CHAR},
      legal_representative = #{record.legalRepresentative,jdbcType=VARCHAR},
      agent = #{record.agent,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      opening_bank = #{record.openingBank,jdbcType=VARCHAR},
      account_number = #{record.accountNumber,jdbcType=VARCHAR},
      credit_code = #{record.creditCode,jdbcType=VARCHAR},
      telephone_fax = #{record.telephoneFax,jdbcType=VARCHAR},
      duty_paragraph = #{record.dutyParagraph,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.PurchContractSignatories" >
    update purch_contract_signatories
    <set >
      <if test="purchContractId != null" >
        purch_contract_id = #{purchContractId,jdbcType=BIGINT},
      </if>
      <if test="signatoriesType != null" >
        signatories_type = #{signatoriesType,jdbcType=SMALLINT},
      </if>
      <if test="sellerBuyer != null" >
        seller_buyer = #{sellerBuyer,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        postal_code = #{postalCode,jdbcType=CHAR},
      </if>
      <if test="legalRepresentative != null" >
        legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="agent != null" >
        agent = #{agent,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="openingBank != null" >
        opening_bank = #{openingBank,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="telephoneFax != null" >
        telephone_fax = #{telephoneFax,jdbcType=VARCHAR},
      </if>
      <if test="dutyParagraph != null" >
        duty_paragraph = #{dutyParagraph,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.PurchContractSignatories" >
    update purch_contract_signatories
    set purch_contract_id = #{purchContractId,jdbcType=BIGINT},
      signatories_type = #{signatoriesType,jdbcType=SMALLINT},
      seller_buyer = #{sellerBuyer,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=CHAR},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      agent = #{agent,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      opening_bank = #{openingBank,jdbcType=VARCHAR},
      account_number = #{accountNumber,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      telephone_fax = #{telephoneFax,jdbcType=VARCHAR},
      duty_paragraph = #{dutyParagraph,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>