<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.PurchGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.PurchGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="purch_id" property="purchId" jdbcType="BIGINT" />
    <result column="purch_contract_goods_id" property="purchContractGoodsId" jdbcType="BIGINT" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="BIGINT" />
    <result column="purchase_num" property="purchaseNum" jdbcType="INTEGER" />
    <result column="inspect_num" property="inspectNum" jdbcType="INTEGER" />
    <result column="pre_inspect_num" property="preInspectNum" jdbcType="INTEGER" />
    <result column="good_num" property="goodNum" jdbcType="INTEGER" />
    <result column="non_tax_price" property="nonTaxPrice" jdbcType="DECIMAL" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="purchase_total_price" property="purchaseTotalPrice" jdbcType="DECIMAL" />
    <result column="purchase_remark" property="purchaseRemark" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purch_id, purch_contract_goods_id, order_goods_id, purchase_num, inspect_num, 
    pre_inspect_num, good_num, non_tax_price, purchase_price, purchase_total_price, purchase_remark, 
    create_user_id, create_time, update_user_id, update_time, delete_flag, delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.PurchGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purch_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from purch_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from purch_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.PurchGoodsExample" >
    delete from purch_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.erui.order.model.entity.PurchGoods" >
    insert into purch_goods (id, purch_id, purch_contract_goods_id, 
      order_goods_id, purchase_num, inspect_num, 
      pre_inspect_num, good_num, non_tax_price, 
      purchase_price, purchase_total_price, purchase_remark, 
      create_user_id, create_time, update_user_id, 
      update_time, delete_flag, delete_time
      )
    values (#{id,jdbcType=BIGINT}, #{purchId,jdbcType=BIGINT}, #{purchContractGoodsId,jdbcType=BIGINT}, 
      #{orderGoodsId,jdbcType=BIGINT}, #{purchaseNum,jdbcType=INTEGER}, #{inspectNum,jdbcType=INTEGER}, 
      #{preInspectNum,jdbcType=INTEGER}, #{goodNum,jdbcType=INTEGER}, #{nonTaxPrice,jdbcType=DECIMAL}, 
      #{purchasePrice,jdbcType=DECIMAL}, #{purchaseTotalPrice,jdbcType=DECIMAL}, #{purchaseRemark,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.PurchGoods" >
    insert into purch_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchId != null" >
        purch_id,
      </if>
      <if test="purchContractGoodsId != null" >
        purch_contract_goods_id,
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="purchaseNum != null" >
        purchase_num,
      </if>
      <if test="inspectNum != null" >
        inspect_num,
      </if>
      <if test="preInspectNum != null" >
        pre_inspect_num,
      </if>
      <if test="goodNum != null" >
        good_num,
      </if>
      <if test="nonTaxPrice != null" >
        non_tax_price,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="purchaseTotalPrice != null" >
        purchase_total_price,
      </if>
      <if test="purchaseRemark != null" >
        purchase_remark,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchId != null" >
        #{purchId,jdbcType=BIGINT},
      </if>
      <if test="purchContractGoodsId != null" >
        #{purchContractGoodsId,jdbcType=BIGINT},
      </if>
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=BIGINT},
      </if>
      <if test="purchaseNum != null" >
        #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="inspectNum != null" >
        #{inspectNum,jdbcType=INTEGER},
      </if>
      <if test="preInspectNum != null" >
        #{preInspectNum,jdbcType=INTEGER},
      </if>
      <if test="goodNum != null" >
        #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="nonTaxPrice != null" >
        #{nonTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseTotalPrice != null" >
        #{purchaseTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseRemark != null" >
        #{purchaseRemark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.PurchGoodsExample" resultType="java.lang.Integer" >
    select count(*) from purch_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purch_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.purchId != null" >
        purch_id = #{record.purchId,jdbcType=BIGINT},
      </if>
      <if test="record.purchContractGoodsId != null" >
        purch_contract_goods_id = #{record.purchContractGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.orderGoodsId != null" >
        order_goods_id = #{record.orderGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.purchaseNum != null" >
        purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="record.inspectNum != null" >
        inspect_num = #{record.inspectNum,jdbcType=INTEGER},
      </if>
      <if test="record.preInspectNum != null" >
        pre_inspect_num = #{record.preInspectNum,jdbcType=INTEGER},
      </if>
      <if test="record.goodNum != null" >
        good_num = #{record.goodNum,jdbcType=INTEGER},
      </if>
      <if test="record.nonTaxPrice != null" >
        non_tax_price = #{record.nonTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchasePrice != null" >
        purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseTotalPrice != null" >
        purchase_total_price = #{record.purchaseTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseRemark != null" >
        purchase_remark = #{record.purchaseRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purch_goods
    set id = #{record.id,jdbcType=BIGINT},
      purch_id = #{record.purchId,jdbcType=BIGINT},
      purch_contract_goods_id = #{record.purchContractGoodsId,jdbcType=BIGINT},
      order_goods_id = #{record.orderGoodsId,jdbcType=BIGINT},
      purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      inspect_num = #{record.inspectNum,jdbcType=INTEGER},
      pre_inspect_num = #{record.preInspectNum,jdbcType=INTEGER},
      good_num = #{record.goodNum,jdbcType=INTEGER},
      non_tax_price = #{record.nonTaxPrice,jdbcType=DECIMAL},
      purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      purchase_total_price = #{record.purchaseTotalPrice,jdbcType=DECIMAL},
      purchase_remark = #{record.purchaseRemark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.PurchGoods" >
    update purch_goods
    <set >
      <if test="purchId != null" >
        purch_id = #{purchId,jdbcType=BIGINT},
      </if>
      <if test="purchContractGoodsId != null" >
        purch_contract_goods_id = #{purchContractGoodsId,jdbcType=BIGINT},
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id = #{orderGoodsId,jdbcType=BIGINT},
      </if>
      <if test="purchaseNum != null" >
        purchase_num = #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="inspectNum != null" >
        inspect_num = #{inspectNum,jdbcType=INTEGER},
      </if>
      <if test="preInspectNum != null" >
        pre_inspect_num = #{preInspectNum,jdbcType=INTEGER},
      </if>
      <if test="goodNum != null" >
        good_num = #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="nonTaxPrice != null" >
        non_tax_price = #{nonTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseTotalPrice != null" >
        purchase_total_price = #{purchaseTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseRemark != null" >
        purchase_remark = #{purchaseRemark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.PurchGoods" >
    update purch_goods
    set purch_id = #{purchId,jdbcType=BIGINT},
      purch_contract_goods_id = #{purchContractGoodsId,jdbcType=BIGINT},
      order_goods_id = #{orderGoodsId,jdbcType=BIGINT},
      purchase_num = #{purchaseNum,jdbcType=INTEGER},
      inspect_num = #{inspectNum,jdbcType=INTEGER},
      pre_inspect_num = #{preInspectNum,jdbcType=INTEGER},
      good_num = #{goodNum,jdbcType=INTEGER},
      non_tax_price = #{nonTaxPrice,jdbcType=DECIMAL},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      purchase_total_price = #{purchaseTotalPrice,jdbcType=DECIMAL},
      purchase_remark = #{purchaseRemark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>