<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.PurchContractGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.PurchContractGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="purch_contract_id" property="purchContractId" jdbcType="BIGINT" />
    <result column="purch_requisition_goods_id" property="purchRequisitionGoodsId" jdbcType="BIGINT" />
    <result column="purch_contract_brand" property="purchContractBrand" jdbcType="VARCHAR" />
    <result column="purchase_num" property="purchaseNum" jdbcType="INTEGER" />
    <result column="non_tax_price" property="nonTaxPrice" jdbcType="DECIMAL" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="purchase_total_price" property="purchaseTotalPrice" jdbcType="DECIMAL" />
    <result column="pre_purchased_num" property="prePurchasedNum" jdbcType="INTEGER" />
    <result column="purchased_num" property="purchasedNum" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purch_contract_id, purch_requisition_goods_id, purch_contract_brand, purchase_num, 
    non_tax_price, purchase_price, purchase_total_price, pre_purchased_num, purchased_num, 
    create_user_id, create_time, update_user_id, update_time, delete_flag, delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.PurchContractGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purch_contract_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from purch_contract_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from purch_contract_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.PurchContractGoodsExample" >
    delete from purch_contract_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true" parameterType="com.erui.order.model.entity.PurchContractGoods" >
    insert into purch_contract_goods (id, purch_contract_id, purch_requisition_goods_id, 
      purch_contract_brand, purchase_num, non_tax_price, 
      purchase_price, purchase_total_price, pre_purchased_num, 
      purchased_num, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      delete_time)
    values (#{id,jdbcType=BIGINT}, #{purchContractId,jdbcType=BIGINT}, #{purchRequisitionGoodsId,jdbcType=BIGINT}, 
      #{purchContractBrand,jdbcType=VARCHAR}, #{purchaseNum,jdbcType=INTEGER}, #{nonTaxPrice,jdbcType=DECIMAL}, 
      #{purchasePrice,jdbcType=DECIMAL}, #{purchaseTotalPrice,jdbcType=DECIMAL}, #{prePurchasedNum,jdbcType=INTEGER}, 
      #{purchasedNum,jdbcType=INTEGER}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.PurchContractGoods" >
    insert into purch_contract_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchContractId != null" >
        purch_contract_id,
      </if>
      <if test="purchRequisitionGoodsId != null" >
        purch_requisition_goods_id,
      </if>
      <if test="purchContractBrand != null" >
        purch_contract_brand,
      </if>
      <if test="purchaseNum != null" >
        purchase_num,
      </if>
      <if test="nonTaxPrice != null" >
        non_tax_price,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="purchaseTotalPrice != null" >
        purchase_total_price,
      </if>
      <if test="prePurchasedNum != null" >
        pre_purchased_num,
      </if>
      <if test="purchasedNum != null" >
        purchased_num,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchContractId != null" >
        #{purchContractId,jdbcType=BIGINT},
      </if>
      <if test="purchRequisitionGoodsId != null" >
        #{purchRequisitionGoodsId,jdbcType=BIGINT},
      </if>
      <if test="purchContractBrand != null" >
        #{purchContractBrand,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNum != null" >
        #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="nonTaxPrice != null" >
        #{nonTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseTotalPrice != null" >
        #{purchaseTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="prePurchasedNum != null" >
        #{prePurchasedNum,jdbcType=INTEGER},
      </if>
      <if test="purchasedNum != null" >
        #{purchasedNum,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.PurchContractGoodsExample" resultType="java.lang.Integer" >
    select count(*) from purch_contract_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purch_contract_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.purchContractId != null" >
        purch_contract_id = #{record.purchContractId,jdbcType=BIGINT},
      </if>
      <if test="record.purchRequisitionGoodsId != null" >
        purch_requisition_goods_id = #{record.purchRequisitionGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.purchContractBrand != null" >
        purch_contract_brand = #{record.purchContractBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseNum != null" >
        purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="record.nonTaxPrice != null" >
        non_tax_price = #{record.nonTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchasePrice != null" >
        purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseTotalPrice != null" >
        purchase_total_price = #{record.purchaseTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.prePurchasedNum != null" >
        pre_purchased_num = #{record.prePurchasedNum,jdbcType=INTEGER},
      </if>
      <if test="record.purchasedNum != null" >
        purchased_num = #{record.purchasedNum,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purch_contract_goods
    set id = #{record.id,jdbcType=BIGINT},
      purch_contract_id = #{record.purchContractId,jdbcType=BIGINT},
      purch_requisition_goods_id = #{record.purchRequisitionGoodsId,jdbcType=BIGINT},
      purch_contract_brand = #{record.purchContractBrand,jdbcType=VARCHAR},
      purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      non_tax_price = #{record.nonTaxPrice,jdbcType=DECIMAL},
      purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      purchase_total_price = #{record.purchaseTotalPrice,jdbcType=DECIMAL},
      pre_purchased_num = #{record.prePurchasedNum,jdbcType=INTEGER},
      purchased_num = #{record.purchasedNum,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.PurchContractGoods" >
    update purch_contract_goods
    <set >
      <if test="purchContractId != null" >
        purch_contract_id = #{purchContractId,jdbcType=BIGINT},
      </if>
      <if test="purchRequisitionGoodsId != null" >
        purch_requisition_goods_id = #{purchRequisitionGoodsId,jdbcType=BIGINT},
      </if>
      <if test="purchContractBrand != null" >
        purch_contract_brand = #{purchContractBrand,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNum != null" >
        purchase_num = #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="nonTaxPrice != null" >
        non_tax_price = #{nonTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseTotalPrice != null" >
        purchase_total_price = #{purchaseTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="prePurchasedNum != null" >
        pre_purchased_num = #{prePurchasedNum,jdbcType=INTEGER},
      </if>
      <if test="purchasedNum != null" >
        purchased_num = #{purchasedNum,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.PurchContractGoods" >
    update purch_contract_goods
    set purch_contract_id = #{purchContractId,jdbcType=BIGINT},
      purch_requisition_goods_id = #{purchRequisitionGoodsId,jdbcType=BIGINT},
      purch_contract_brand = #{purchContractBrand,jdbcType=VARCHAR},
      purchase_num = #{purchaseNum,jdbcType=INTEGER},
      non_tax_price = #{nonTaxPrice,jdbcType=DECIMAL},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      purchase_total_price = #{purchaseTotalPrice,jdbcType=DECIMAL},
      pre_purchased_num = #{prePurchasedNum,jdbcType=INTEGER},
      purchased_num = #{purchasedNum,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>