<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.PurchContractStandardMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.PurchContractStandard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="purch_contract_id" property="purchContractGoodsId" jdbcType="BIGINT" />
    <result column="used_for_buyer" property="usedForBuyer" jdbcType="VARCHAR" />
    <result column="standard_and_require" property="standardAndRequire" jdbcType="VARCHAR" />
    <result column="meet_require" property="meetRequire" jdbcType="VARCHAR" />
    <result column="warranty_period" property="warrantyPeriod" jdbcType="VARCHAR" />
    <result column="delivery_date" property="deliveryDate" jdbcType="DATE" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="inspection_period" property="inspectionPeriod" jdbcType="VARCHAR" />
    <result column="data_version" property="dataVersion" jdbcType="VARCHAR" />
    <result column="method_and_time" property="methodAndTime" jdbcType="VARCHAR" />
    <result column="inside_address_s" property="insideAddressS" jdbcType="VARCHAR" />
    <result column="addressee_s" property="addresseeS" jdbcType="VARCHAR" />
    <result column="telephone_s" property="telephoneS" jdbcType="VARCHAR" />
    <result column="inbox_address_s" property="inboxAddressS" jdbcType="VARCHAR" />
    <result column="inside_address_b" property="insideAddressB" jdbcType="VARCHAR" />
    <result column="addressee_b" property="addresseeB" jdbcType="VARCHAR" />
    <result column="telephone_b" property="telephoneB" jdbcType="VARCHAR" />
    <result column="inbox_address_b" property="inboxAddressB" jdbcType="VARCHAR" />
    <result column="solution" property="solution" jdbcType="VARCHAR" />
    <result column="board_arbitration" property="boardArbitration" jdbcType="VARCHAR" />
    <result column="few_copies" property="fewCopies" jdbcType="VARCHAR" />
    <result column="seller_few_copies" property="sellerFewCopies" jdbcType="VARCHAR" />
    <result column="buyer_few_copies" property="buyerFewCopies" jdbcType="VARCHAR" />
    <result column="appendices_name1" property="appendicesName1" jdbcType="VARCHAR" />
    <result column="appendices_name2" property="appendicesName2" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purch_contract_id, used_for_buyer, standard_and_require, meet_require, warranty_period, 
    delivery_date, delivery_place, inspection_period, data_version, method_and_time, 
    inside_address_s, addressee_s, telephone_s, inbox_address_s, inside_address_b, addressee_b, 
    telephone_b, inbox_address_b, solution, board_arbitration, few_copies, seller_few_copies, 
    buyer_few_copies, appendices_name1, appendices_name2, create_user_id, create_time, 
    update_user_id, update_time, delete_flag, delete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.PurchContractStandardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purch_contract_standard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from purch_contract_standard
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from purch_contract_standard
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.PurchContractStandardExample" >
    delete from purch_contract_standard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.erui.order.model.entity.PurchContractStandard" >
    insert into purch_contract_standard (id, purch_contract_id, used_for_buyer, 
      standard_and_require, meet_require, warranty_period, 
      delivery_date, delivery_place, inspection_period, 
      data_version, method_and_time, inside_address_s, 
      addressee_s, telephone_s, inbox_address_s, 
      inside_address_b, addressee_b, telephone_b, 
      inbox_address_b, solution, board_arbitration, 
      few_copies, seller_few_copies, buyer_few_copies, 
      appendices_name1, appendices_name2, create_user_id, 
      create_time, update_user_id, update_time, 
      delete_flag, delete_time)
    values (#{id,jdbcType=BIGINT}, #{purchContractGoodsId,jdbcType=BIGINT}, #{usedForBuyer,jdbcType=VARCHAR},
      #{standardAndRequire,jdbcType=VARCHAR}, #{meetRequire,jdbcType=VARCHAR}, #{warrantyPeriod,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=DATE}, #{deliveryPlace,jdbcType=VARCHAR}, #{inspectionPeriod,jdbcType=VARCHAR}, 
      #{dataVersion,jdbcType=VARCHAR}, #{methodAndTime,jdbcType=VARCHAR}, #{insideAddressS,jdbcType=VARCHAR}, 
      #{addresseeS,jdbcType=VARCHAR}, #{telephoneS,jdbcType=VARCHAR}, #{inboxAddressS,jdbcType=VARCHAR}, 
      #{insideAddressB,jdbcType=VARCHAR}, #{addresseeB,jdbcType=VARCHAR}, #{telephoneB,jdbcType=VARCHAR}, 
      #{inboxAddressB,jdbcType=VARCHAR}, #{solution,jdbcType=VARCHAR}, #{boardArbitration,jdbcType=VARCHAR}, 
      #{fewCopies,jdbcType=VARCHAR}, #{sellerFewCopies,jdbcType=VARCHAR}, #{buyerFewCopies,jdbcType=VARCHAR}, 
      #{appendicesName1,jdbcType=VARCHAR}, #{appendicesName2,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=BIT}, #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.PurchContractStandard" >
    insert into purch_contract_standard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchContractGoodsId != null" >
        purch_contract_id,
      </if>
      <if test="usedForBuyer != null" >
        used_for_buyer,
      </if>
      <if test="standardAndRequire != null" >
        standard_and_require,
      </if>
      <if test="meetRequire != null" >
        meet_require,
      </if>
      <if test="warrantyPeriod != null" >
        warranty_period,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="deliveryPlace != null" >
        delivery_place,
      </if>
      <if test="inspectionPeriod != null" >
        inspection_period,
      </if>
      <if test="dataVersion != null" >
        data_version,
      </if>
      <if test="methodAndTime != null" >
        method_and_time,
      </if>
      <if test="insideAddressS != null" >
        inside_address_s,
      </if>
      <if test="addresseeS != null" >
        addressee_s,
      </if>
      <if test="telephoneS != null" >
        telephone_s,
      </if>
      <if test="inboxAddressS != null" >
        inbox_address_s,
      </if>
      <if test="insideAddressB != null" >
        inside_address_b,
      </if>
      <if test="addresseeB != null" >
        addressee_b,
      </if>
      <if test="telephoneB != null" >
        telephone_b,
      </if>
      <if test="inboxAddressB != null" >
        inbox_address_b,
      </if>
      <if test="solution != null" >
        solution,
      </if>
      <if test="boardArbitration != null" >
        board_arbitration,
      </if>
      <if test="fewCopies != null" >
        few_copies,
      </if>
      <if test="sellerFewCopies != null" >
        seller_few_copies,
      </if>
      <if test="buyerFewCopies != null" >
        buyer_few_copies,
      </if>
      <if test="appendicesName1 != null" >
        appendices_name1,
      </if>
      <if test="appendicesName2 != null" >
        appendices_name2,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchContractGoodsId != null" >
        #{purchContractGoodsId,jdbcType=BIGINT},
      </if>
      <if test="usedForBuyer != null" >
        #{usedForBuyer,jdbcType=VARCHAR},
      </if>
      <if test="standardAndRequire != null" >
        #{standardAndRequire,jdbcType=VARCHAR},
      </if>
      <if test="meetRequire != null" >
        #{meetRequire,jdbcType=VARCHAR},
      </if>
      <if test="warrantyPeriod != null" >
        #{warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="deliveryPlace != null" >
        #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="inspectionPeriod != null" >
        #{inspectionPeriod,jdbcType=VARCHAR},
      </if>
      <if test="dataVersion != null" >
        #{dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="methodAndTime != null" >
        #{methodAndTime,jdbcType=VARCHAR},
      </if>
      <if test="insideAddressS != null" >
        #{insideAddressS,jdbcType=VARCHAR},
      </if>
      <if test="addresseeS != null" >
        #{addresseeS,jdbcType=VARCHAR},
      </if>
      <if test="telephoneS != null" >
        #{telephoneS,jdbcType=VARCHAR},
      </if>
      <if test="inboxAddressS != null" >
        #{inboxAddressS,jdbcType=VARCHAR},
      </if>
      <if test="insideAddressB != null" >
        #{insideAddressB,jdbcType=VARCHAR},
      </if>
      <if test="addresseeB != null" >
        #{addresseeB,jdbcType=VARCHAR},
      </if>
      <if test="telephoneB != null" >
        #{telephoneB,jdbcType=VARCHAR},
      </if>
      <if test="inboxAddressB != null" >
        #{inboxAddressB,jdbcType=VARCHAR},
      </if>
      <if test="solution != null" >
        #{solution,jdbcType=VARCHAR},
      </if>
      <if test="boardArbitration != null" >
        #{boardArbitration,jdbcType=VARCHAR},
      </if>
      <if test="fewCopies != null" >
        #{fewCopies,jdbcType=VARCHAR},
      </if>
      <if test="sellerFewCopies != null" >
        #{sellerFewCopies,jdbcType=VARCHAR},
      </if>
      <if test="buyerFewCopies != null" >
        #{buyerFewCopies,jdbcType=VARCHAR},
      </if>
      <if test="appendicesName1 != null" >
        #{appendicesName1,jdbcType=VARCHAR},
      </if>
      <if test="appendicesName2 != null" >
        #{appendicesName2,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.PurchContractStandardExample" resultType="java.lang.Integer" >
    select count(*) from purch_contract_standard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purch_contract_standard
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.purchContractGoodsId != null" >
        purch_contract_id = #{record.purchContractGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.usedForBuyer != null" >
        used_for_buyer = #{record.usedForBuyer,jdbcType=VARCHAR},
      </if>
      <if test="record.standardAndRequire != null" >
        standard_and_require = #{record.standardAndRequire,jdbcType=VARCHAR},
      </if>
      <if test="record.meetRequire != null" >
        meet_require = #{record.meetRequire,jdbcType=VARCHAR},
      </if>
      <if test="record.warrantyPeriod != null" >
        warranty_period = #{record.warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDate != null" >
        delivery_date = #{record.deliveryDate,jdbcType=DATE},
      </if>
      <if test="record.deliveryPlace != null" >
        delivery_place = #{record.deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectionPeriod != null" >
        inspection_period = #{record.inspectionPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.dataVersion != null" >
        data_version = #{record.dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.methodAndTime != null" >
        method_and_time = #{record.methodAndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.insideAddressS != null" >
        inside_address_s = #{record.insideAddressS,jdbcType=VARCHAR},
      </if>
      <if test="record.addresseeS != null" >
        addressee_s = #{record.addresseeS,jdbcType=VARCHAR},
      </if>
      <if test="record.telephoneS != null" >
        telephone_s = #{record.telephoneS,jdbcType=VARCHAR},
      </if>
      <if test="record.inboxAddressS != null" >
        inbox_address_s = #{record.inboxAddressS,jdbcType=VARCHAR},
      </if>
      <if test="record.insideAddressB != null" >
        inside_address_b = #{record.insideAddressB,jdbcType=VARCHAR},
      </if>
      <if test="record.addresseeB != null" >
        addressee_b = #{record.addresseeB,jdbcType=VARCHAR},
      </if>
      <if test="record.telephoneB != null" >
        telephone_b = #{record.telephoneB,jdbcType=VARCHAR},
      </if>
      <if test="record.inboxAddressB != null" >
        inbox_address_b = #{record.inboxAddressB,jdbcType=VARCHAR},
      </if>
      <if test="record.solution != null" >
        solution = #{record.solution,jdbcType=VARCHAR},
      </if>
      <if test="record.boardArbitration != null" >
        board_arbitration = #{record.boardArbitration,jdbcType=VARCHAR},
      </if>
      <if test="record.fewCopies != null" >
        few_copies = #{record.fewCopies,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerFewCopies != null" >
        seller_few_copies = #{record.sellerFewCopies,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerFewCopies != null" >
        buyer_few_copies = #{record.buyerFewCopies,jdbcType=VARCHAR},
      </if>
      <if test="record.appendicesName1 != null" >
        appendices_name1 = #{record.appendicesName1,jdbcType=VARCHAR},
      </if>
      <if test="record.appendicesName2 != null" >
        appendices_name2 = #{record.appendicesName2,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purch_contract_standard
    set id = #{record.id,jdbcType=BIGINT},
      purch_contract_id = #{record.purchContractGoodsId,jdbcType=BIGINT},
      used_for_buyer = #{record.usedForBuyer,jdbcType=VARCHAR},
      standard_and_require = #{record.standardAndRequire,jdbcType=VARCHAR},
      meet_require = #{record.meetRequire,jdbcType=VARCHAR},
      warranty_period = #{record.warrantyPeriod,jdbcType=VARCHAR},
      delivery_date = #{record.deliveryDate,jdbcType=DATE},
      delivery_place = #{record.deliveryPlace,jdbcType=VARCHAR},
      inspection_period = #{record.inspectionPeriod,jdbcType=VARCHAR},
      data_version = #{record.dataVersion,jdbcType=VARCHAR},
      method_and_time = #{record.methodAndTime,jdbcType=VARCHAR},
      inside_address_s = #{record.insideAddressS,jdbcType=VARCHAR},
      addressee_s = #{record.addresseeS,jdbcType=VARCHAR},
      telephone_s = #{record.telephoneS,jdbcType=VARCHAR},
      inbox_address_s = #{record.inboxAddressS,jdbcType=VARCHAR},
      inside_address_b = #{record.insideAddressB,jdbcType=VARCHAR},
      addressee_b = #{record.addresseeB,jdbcType=VARCHAR},
      telephone_b = #{record.telephoneB,jdbcType=VARCHAR},
      inbox_address_b = #{record.inboxAddressB,jdbcType=VARCHAR},
      solution = #{record.solution,jdbcType=VARCHAR},
      board_arbitration = #{record.boardArbitration,jdbcType=VARCHAR},
      few_copies = #{record.fewCopies,jdbcType=VARCHAR},
      seller_few_copies = #{record.sellerFewCopies,jdbcType=VARCHAR},
      buyer_few_copies = #{record.buyerFewCopies,jdbcType=VARCHAR},
      appendices_name1 = #{record.appendicesName1,jdbcType=VARCHAR},
      appendices_name2 = #{record.appendicesName2,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.PurchContractStandard" >
    update purch_contract_standard
    <set >
      <if test="purchContractGoodsId != null" >
        purch_contract_id = #{purchContractGoodsId,jdbcType=BIGINT},
      </if>
      <if test="usedForBuyer != null" >
        used_for_buyer = #{usedForBuyer,jdbcType=VARCHAR},
      </if>
      <if test="standardAndRequire != null" >
        standard_and_require = #{standardAndRequire,jdbcType=VARCHAR},
      </if>
      <if test="meetRequire != null" >
        meet_require = #{meetRequire,jdbcType=VARCHAR},
      </if>
      <if test="warrantyPeriod != null" >
        warranty_period = #{warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="deliveryPlace != null" >
        delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="inspectionPeriod != null" >
        inspection_period = #{inspectionPeriod,jdbcType=VARCHAR},
      </if>
      <if test="dataVersion != null" >
        data_version = #{dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="methodAndTime != null" >
        method_and_time = #{methodAndTime,jdbcType=VARCHAR},
      </if>
      <if test="insideAddressS != null" >
        inside_address_s = #{insideAddressS,jdbcType=VARCHAR},
      </if>
      <if test="addresseeS != null" >
        addressee_s = #{addresseeS,jdbcType=VARCHAR},
      </if>
      <if test="telephoneS != null" >
        telephone_s = #{telephoneS,jdbcType=VARCHAR},
      </if>
      <if test="inboxAddressS != null" >
        inbox_address_s = #{inboxAddressS,jdbcType=VARCHAR},
      </if>
      <if test="insideAddressB != null" >
        inside_address_b = #{insideAddressB,jdbcType=VARCHAR},
      </if>
      <if test="addresseeB != null" >
        addressee_b = #{addresseeB,jdbcType=VARCHAR},
      </if>
      <if test="telephoneB != null" >
        telephone_b = #{telephoneB,jdbcType=VARCHAR},
      </if>
      <if test="inboxAddressB != null" >
        inbox_address_b = #{inboxAddressB,jdbcType=VARCHAR},
      </if>
      <if test="solution != null" >
        solution = #{solution,jdbcType=VARCHAR},
      </if>
      <if test="boardArbitration != null" >
        board_arbitration = #{boardArbitration,jdbcType=VARCHAR},
      </if>
      <if test="fewCopies != null" >
        few_copies = #{fewCopies,jdbcType=VARCHAR},
      </if>
      <if test="sellerFewCopies != null" >
        seller_few_copies = #{sellerFewCopies,jdbcType=VARCHAR},
      </if>
      <if test="buyerFewCopies != null" >
        buyer_few_copies = #{buyerFewCopies,jdbcType=VARCHAR},
      </if>
      <if test="appendicesName1 != null" >
        appendices_name1 = #{appendicesName1,jdbcType=VARCHAR},
      </if>
      <if test="appendicesName2 != null" >
        appendices_name2 = #{appendicesName2,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.PurchContractStandard" >
    update purch_contract_standard
    set purch_contract_id = #{purchContractGoodsId,jdbcType=BIGINT},
      used_for_buyer = #{usedForBuyer,jdbcType=VARCHAR},
      standard_and_require = #{standardAndRequire,jdbcType=VARCHAR},
      meet_require = #{meetRequire,jdbcType=VARCHAR},
      warranty_period = #{warrantyPeriod,jdbcType=VARCHAR},
      delivery_date = #{deliveryDate,jdbcType=DATE},
      delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      inspection_period = #{inspectionPeriod,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=VARCHAR},
      method_and_time = #{methodAndTime,jdbcType=VARCHAR},
      inside_address_s = #{insideAddressS,jdbcType=VARCHAR},
      addressee_s = #{addresseeS,jdbcType=VARCHAR},
      telephone_s = #{telephoneS,jdbcType=VARCHAR},
      inbox_address_s = #{inboxAddressS,jdbcType=VARCHAR},
      inside_address_b = #{insideAddressB,jdbcType=VARCHAR},
      addressee_b = #{addresseeB,jdbcType=VARCHAR},
      telephone_b = #{telephoneB,jdbcType=VARCHAR},
      inbox_address_b = #{inboxAddressB,jdbcType=VARCHAR},
      solution = #{solution,jdbcType=VARCHAR},
      board_arbitration = #{boardArbitration,jdbcType=VARCHAR},
      few_copies = #{fewCopies,jdbcType=VARCHAR},
      seller_few_copies = #{sellerFewCopies,jdbcType=VARCHAR},
      buyer_few_copies = #{buyerFewCopies,jdbcType=VARCHAR},
      appendices_name1 = #{appendicesName1,jdbcType=VARCHAR},
      appendices_name2 = #{appendicesName2,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>