<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erui.order.mapper.StandardUnitMapper" >
  <resultMap id="BaseResultMap" type="com.erui.order.model.entity.StandardUnit" >
    <id column="unit_code" property="unitCode" jdbcType="CHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    unit_code, name_zh
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erui.order.model.entity.StandardUnitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from standard_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from standard_unit
    where unit_code = #{unitCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from standard_unit
    where unit_code = #{unitCode,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.erui.order.model.entity.StandardUnitExample" >
    delete from standard_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erui.order.model.entity.StandardUnit" >
    insert into standard_unit (unit_code, name_zh)
    values (#{unitCode,jdbcType=CHAR}, #{nameZh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erui.order.model.entity.StandardUnit" >
    insert into standard_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitCode != null" >
        unit_code,
      </if>
      <if test="nameZh != null" >
        name_zh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitCode != null" >
        #{unitCode,jdbcType=CHAR},
      </if>
      <if test="nameZh != null" >
        #{nameZh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erui.order.model.entity.StandardUnitExample" resultType="java.lang.Integer" >
    select count(*) from standard_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update standard_unit
    <set >
      <if test="record.unitCode != null" >
        unit_code = #{record.unitCode,jdbcType=CHAR},
      </if>
      <if test="record.nameZh != null" >
        name_zh = #{record.nameZh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update standard_unit
    set unit_code = #{record.unitCode,jdbcType=CHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erui.order.model.entity.StandardUnit" >
    update standard_unit
    <set >
      <if test="nameZh != null" >
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
    </set>
    where unit_code = #{unitCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erui.order.model.entity.StandardUnit" >
    update standard_unit
    set name_zh = #{nameZh,jdbcType=VARCHAR}
    where unit_code = #{unitCode,jdbcType=CHAR}
  </update>
</mapper>