<script type="text/javascript">
    var saveOutstockQualityParams = getQueryStringFromGlobalParams();
    var save_outstock_quality_form_data = {};
    var save_outstock_quality_goods_data = [];
    var save_outstock_quality_attachment_data = [];
    if (saveOutstockQualityParams.id) {
        var saveOutstockQualityInfo = syncAjaxJson({"url": LOCAL_URL + "/order/deliverDetail/info"}, {"id": saveOutstockQualityParams.id});
        if (saveOutstockQualityInfo.code == 0) {
            save_outstock_quality_form_data = saveOutstockQualityInfo.data;
            // 商品内容
            save_outstock_quality_goods_data = save_outstock_quality_form_data.goodsInfos;
            delete save_outstock_quality_form_data.goodsInfos;
            // 删除附件
            save_outstock_quality_attachment_data = save_outstock_quality_form_data.attachments;
            delete save_outstock_quality_form_data.attachments;
        }
    }
</script>
<form id="save_outstock_quality_form">
    <input type="hidden" v-model="deliverNoticeId" name="deliverNoticeId" value=""/>
    <input type="hidden" v-model="id" name="id" value=""/>
    <div id="save_outstock_quality_panel_baseinfo" class="easyui-panel" title="基础信息"
         style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label>开单日期：</label>
            <div class="input-div">{{billingDate}}</div>
            <label>贸易术语：</label>
            <div class="input-div">{{tradeTerms}}</div>
            <label>目的港：</label>
            <div class="input-div">{{toPortName}}</div>
        </div>
    </div>

    <div class="easyui-panel" title="商品信息"
         style="padding:2px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <table id="save_outstock_quality_panel_goods_table" class="easyui-datagrid" border="false">
        </table>
    </div>

    <div style="overflow: hidden;">
        <div style="margin:10px 15px;float:right;">总包装件数： {{packTotal}} PCS</div>
    </div>

    <div class="easyui-panel" title="运输信息" style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label>承运单位名称：</label>
            <div class="input-div">{{carrierCo}}</div>
            <label>司机姓名：</label>
            <div class="input-div">{{driver}}</div>
            <label>车牌号码：</label>
            <div class="input-div">{{plateNo}}</div>
        </div>
        <div class="fitem">
            <label>提货日期：</label>
            <div class="input-div">{{pickupDate}}</div>
            <label>联系电话：</label>
            <div class="input-div">{{contactTel}}</div>
        </div>
    </div>

    <div class="easyui-panel" title="人员信息" style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label>仓库经办人：</label>
            <div class="input-div">{{wareHousemanName}}</div>
            <label>经办部门：</label>
            <div class="input-div">{{handleDepartment}}</div>
            <label>发运人员：</label>
            <div class="input-div">{{senderUserName}}</div>
        </div>
        <div class="fitem">
            <label>发运日期：</label>
            <div class="input-div">{{sendDate}}</div>
            <label>协办/复核人：</label>
            <div class="input-div">{{reviewerUserName}}</div>
        </div>
    </div>

    <div class="easyui-panel" title="质检信息"
         style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label>实物检验结论：</label>
            <select class="easyui-combobox" editable="false" name="goodsChkStatus" panelHeight="50px">
                <option value="1">合格</option>
                <option value="0">不合格</option>
            </select>
            <label>资料检验结论：</label>
            <select class="easyui-combobox" editable="false" name="billsChkStatus" panelHeight="50px">
                <option value="1">合格</option>
                <option value="0">不合格</option>
            </select>
            <label>检验员：</label>
            <input class="easyui-textbox" name="checkUserId" data-options="editable:false"/>
        </div>
        <div class="fitem">
            <label>质检部门：</label>
            <input class="easyui-textbox" name="checkDept" data-options="editable:false"/>
            <label><span style="color:red;">*</span>检验日期：</label>
            <input type="text" class="easyui-datebox" data-options="required:true,editable:false" style="width:185px;"
                   name="checkDate"/>
            <label>最终放行人：</label>
            <input class="easyui-textbox" data-options="editable:false" name="releaseUserId" buttonText="请选择"/>
        </div>
        <div class="fitem">
            <label><span style="color:red;">*</span>放行日期：</label>
            <input type="text" class="easyui-datebox" data-options="required:true,editable:false" style="width:185px;"
                   name="releaseDate"/>
            <label>质量分管领导：</label>
            <input class="easyui-textbox" data-options="editable:false" name="qualityLeaderUserId" buttonText="请选择"/>
        </div>
    </div>

    <div class="easyui-panel" title="特殊放行信息"
         style="padding:10px;background:#fafafa;margin-bottom:10px;"
         data-options="collapsible:true">
        <div class="fitem">
            <label>申请人：</label>
            <input class="easyui-textbox" data-options="editable:false" name="applicantUserId" buttonText="请选择"/>
            <label>申请日期：</label>
            <input type="text" class="easyui-datebox" data-options="editable:false" style="width:185px;"
                   name="applicantDate"/>
            <label>批准人：</label>
            <input class="easyui-textbox" data-options="editable:false" name="approverUserId" buttonText="请选择"/>
        </div>
        <div class="fitem">
            <label>批准日期：</label>
            <input type="text" class="easyui-datebox" data-options="editable:false" style="width:185px;"
                   name="approvalDate"/>
        </div>
        <div class="fitem">
            <label style="width:140px;margin-left:-5px;">特殊情况产品放行原因：</label>
            <input class="easyui-textbox" multiline="true" style="width:560px;height:60px;" name="reason" value=""/>
        </div>
        <div class="fitem">
            <label>审核意见：</label>
            <input class="easyui-textbox" multiline="true" style="width:560px;height:60px;" name="opinion" value=""/>
        </div>
    </div>

    <div class="easyui-panel"
         title="附件（支持格式jpg、jpeg、png、gif、doc、docx、xls、xlsx、ppt、pptx、pdf、支持批量上传，单个附件不超过10M。）"
         style="background:#fafafa;margin-bottom:30px;"
         data-options="collapsible:true">
        <div class="easyui-layout" style="width: 100%;height:150px;">
            <div data-options="region:'west',split:false,border:false" style="width:150px;">
                <div style="text-align:center;">
                    <div style="margin-top:16px;margin-bottom:20px;"><span style="font-size: 14px;">品控部</span></div>
                    <div style="margin-bottom:8px;"><a href="javascript:void(0);" class="easyui-linkbutton" plain="true"
                                                       onclick="openFileDialog(2,'save_outstock_quality_form_attachment_table');">上传附件</a>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:5px;background:#eee;">
                <table class="easyui-datagrid" id="save_outstock_quality_form_attachment_table"
                       data-options="idField:'url',data:save_outstock_quality_attachment_data"
                       fit="true" fitColumn="true">
                    <thead>
                    <tr>
                        <th field="title" width="200">附件名称</th>
                        <th field="createUserName" width="120">创建人</th>
                        <th field="attachType" width="100" data-options="
                            formatter:function(value) {
                                switch(value){
                                    case 1: return '仓储附件';
                                    case 2: return '品控附件';
                                }
                                return value;
                            }
                            ">类型
                        </th>
                        <th field="createTime" width="170">日期</th>
                        <th field="_operate" width="80"
                            data-options="formatter:saveOutstockQualityAttachmentFormatOper">
                            操作
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</form>


<div style="margin-top:20px;text-align: center;">
    <a href="javascript:void(0);" id="save_outstock_quality_form_save_btn" size="large" class="easyui-linkbutton"
       style="margin-right:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="javascript:void(0);" id="save_outstock_quality_form_submit_btn" size="large" class="easyui-linkbutton"
       style="margin-left:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>


<script type="text/javascript">
    new Vue({
        el: '#save_outstock_quality_form',
        data: save_outstock_quality_form_data
    });

    $(function () {
        setTimeout(function () {
            $("#save_outstock_quality_form").form('load', save_outstock_quality_form_data);
        }, 500);

        $("#save_outstock_quality_panel_goods_table").datagrid({
            border: false,
            singleSelect: true,
            striped: true,
            idFiled: 'id',
            rownumbers: true,
            columns: [[
                {field: 'contractNo', width: 110, title: '销售合同号'},
                {field: 'projectNo', width: 110, title: '项目号'},
                {field: 'sku', width: 125, title: '平台SKU'},
                {field: 'nameEn', width: 80, title: '外文品名'},
                {field: 'nameZh', width: 80, title: '中文品名'},
                {field: 'sendNum', width: 80, title: '本批次发货数量'},
                {field: 'instockedNum', width: 80, title: '已入库总数'},
                {field: 'nameZh', width: 80, title: '厂家直发总数'},
                {
                    field: 'outboundNum', width: 100, title: '出库数量'
                },
                {
                    field: 'straightNum', width: 100, title: '厂家直发数量'
                },
                {field: 'unitName', width: 40, title: '单位'},
                {
                    field: 'detailGoodsRemarks', width: 120, title: '备注'
                }
            ]],
            data: save_outstock_quality_goods_data
        });

        $("#save_outstock_quality_form_save_btn").click(function (e) {
            e.preventDefault();
            var formData = assemblyOutstockQualityData();
            formData.deliverDetailStatus = 4; // 出库质检保存

            var resp = syncAjaxJson({url: LOCAL_URL + "/order/deliverDetail/saveDeliverDetail"}, formData);

            if (resp.code == 0) {
                $.messager.alert("成功", "保存出库质检成功");
                closeCurrentTab();
            } else {
                $.messager.alert("失败", resp.message);
            }
        });

        $("#save_outstock_quality_form_submit_btn").click(function (e) {
            e.preventDefault();
            var formData = assemblyOutstockQualityData();
            formData.deliverDetailStatus = 5; // 出库质检保存

            var resp = syncAjaxJson({url: LOCAL_URL + "/order/deliverDetail/saveDeliverDetail"}, formData);

            if (resp.code == 0) {
                $.messager.alert("成功", "提交出库质检成功");
                closeCurrentTab();
            } else {
                $.messager.alert("失败", resp.message);
            }
        });
    });


    function saveOutstockQualityAttachmentFormatOper(val, row, index) {
        if (row.attachType == 2) {
            return '&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="saveOutstockQualityDeleAttachment(\'' + row.url + '\')">删除</a>&nbsp;&nbsp;&nbsp;';
        } else {
            return "";
        }
    }

    function saveOutstockQualityDeleAttachment(idField) {
        if (idField) {
            $.messager.confirm('删除', '确定要删除附件吗?', function (r) {
                if (r) {
                    var index = $('#save_outstock_quality_form_attachment_table').datagrid('getRowIndex', idField);
                    $('#save_outstock_quality_form_attachment_table').datagrid('deleteRow', index);
                }
            });
        }
    }

    function assemblyOutstockQualityData() {
        var formData = $("#save_outstock_quality_form").serializeJson();
        // 附件内容
        var attachmentRows = $("#save_outstock_quality_form_attachment_table").datagrid('getRows');
        formData.attachments = [];
        if (attachmentRows) {
            $.each(attachmentRows, function (index, value) {
                formData.attachments.push({
                    id: value.id,
                    attachGroup: value.attachGroup,
                    title: value.title,
                    url: value.url,
                    attachType: value.attachType
                });
            });
        }
        return formData;
    }

</script>